<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home Page - Posts</title>
        <link rel="stylesheet" href="/styles/home.css" type="text/css">
    </head>
    <body>
        <main>
            <h1 style="font-size: 4rem; text-align: center; padding-top: 50px;">What's on Trend</h1>
            <% for (let i = 0; i < final_render_response.length; i++) { %>
                <div class="post-container">
                    <div class="post">
                        <div class="user-info-container">
                            <div class="user-img">
                                <img src="<%= final_render_response[i]["profileImg"] %>" alt="Profile Image">
                            </div>
                            <h2>
                                <a href="/profile/<%= final_render_response[i]["username"] %>"><%= final_render_response[i]["username"] %></a>
                            </h2>
                        </div>
                        <div class="album-container">
                            <div class="album-image-container">
                                <img src="<%= final_render_response[i]["thumbnailUrl"] %>" alt="Album Image">
                            </div>
                            <div class="album-info-container">
                                <h1 style="text-transform: capitalize; margin-bottom: 10px;">
                                    <a href="/post/<%= final_render_response[i]["title"] %>"><%= final_render_response[i]["title"] %></a>
                                </h1>
                                <h3><%= final_render_response[i]["body"] %></h3>
                                <p class="comments-number"><%= final_render_response[i]["numComments"] %> comentário(s)</p>
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>
        </main>
    </body>
</html>